
.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ddd;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    color: #333;
    width: 90%
}


form label {
    display: block;
    margin: 10px;
}

form input {
    background-color: #fff;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}


.login-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
    opacity: .5;
}

.login-btn:hover {
    background-color: #45A049;
    opacity: 1.0;
}

/* Signup Styles */
.signup-link {
    color: #007BFF;
    text-decoration: none;
    margin: 10px;
}

.signup-link:hover {
    text-decoration: underline;
}

.signup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border-radius: 10px;
    background-color: #ddd;
    padding:20px;
    color: #333;
    width:200%;
}

.signupbutton{
    background-color: #4CAF50;
    color: aliceblue;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    opacity: 0.5;
    border: none;
}

.signupbutton:hover{
    background-color: #45A049;
    opacity: 1.0;
}


footer {
    background-color: #333;
    padding: 10px;
    text-align: center;
    color: white;
    width: 100%;
    margin-top: auto;
}


