body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #2c2c2c;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #333;
    padding: 20px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: aliceblue;
}

h1 {
    font-family: 'Copperplate Gothic Bold', sans-serif;
    letter-spacing: 2px;
    margin: 0;
    margin-left: 10px;
}

nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: #333;
}

nav a {
    padding: 10px 20px;
    color: aliceblue;
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ddd;
}

label {
    display: block;
    margin: 10px;
}

.form-control {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #fff;
    border-radius: 5px;
    margin: 10px;
    background-color: #fff;
    color: #2c2c2c;
}

.btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    margin: 10px;
    opacity: 0.5;
    transition: background-color 0.3s, opacity 0.3s;
}

.btn:hover {
    background-color: #45A049;
    opacity: 1.0;
}

.signup-link {
    color: #007BFF;
    text-decoration: none;
    margin: 10px;
}

.signup-link:hover {
    text-decoration: underline;
}

footer {
    background-color: #333;
    padding: 10px;
    text-align: center;
    color: white;
    width: 100%;
    margin-top: auto;
}