/* Add your CSS styles for the signup page here */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ddd;
}

/* Additional styling for signup form fields */
#signupForm label {
    display: block;
    margin: 10px;
}

#signupForm .form-control {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #fff;
    border-radius: 5px;
    margin: 10px;
    background-color: #fff;
    color: #2c2c2c;
}

#signupForm .btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    margin: 10px;
    opacity: 0.5;
    transition: background-color 0.3s, opacity 0.3s;
}

#signupForm .btn:hover {
    background-color: #45A049;
    opacity: 1.0;
}
